@{
    ViewData["Title"] = "Timely";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div>
    <input id="StartButton" type="button" class="btn-primary" value="Start" onclick="startTimer()"/>
</div>
